@import url("https://fonts.googleapis.com/css?family=Permanent+Marker");

body {
  background: #51bbc9;
  font-family: "Permanent Marker";
  font-size: 1.5rem;
  max-width: 1000px;
  margin: 0 auto;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  position: relative;
}

button {
  margin-bottom: 20px;
  border: 3px solid black;
  background: #8cd4de;
  border-radius: 10px;
  font-family: inherit;
  font-size: inherit;
  cursor: pointer;
}

.hidden {
  display: none;
}

.joke {
  display: flex;
  flex-direction: column;
}

.bubble {
  display: inline-block;
  position: relative;
  padding: 30px 40px;
  border-radius: 10px;
  border: 3px solid black;
  background: rgb(255, 255, 255);
  margin-bottom: 60px;
}

